# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @OskarHulter will be requested for PR review.
* @OskarHulter

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the stresslessnesss team in the octo-org organization owns all .txt files.
# ? *.txt @octo-org/stresslessnesss

# In this example, any change inside the `/scripts` directory
# will require approval from @stresslessness or @OskarHulter.
# ? /scripts/ @stresslessness @OskarHulter

# In this example, @stresslessness owns any file in a `/logs` directory such as
# `/build/logs`, `/scripts/logs`, and `/deeply/nested/logs`. Any changes
# in a `/logs` directory will require approval from @stresslessness.
# ? **/logs @stresslessness
